@import '~style/helpers';

.detail {
    padding: 86px 20px 26px 20px;
    min-height: 100%;
    width: 100%;
    & > .nutrition {
        width: 90%;
        min-width: 280px;
        height: 80vh;
        margin: 0 auto;
        background-color: rgba(255,255,255,0.3);
        & > .cardtitle {
            height: 50%;
            width: 100%;
            margin: 0 auto;
            position: relative;
            flex-direction: column;
            background-color: rgb(200,200,200);
            padding: 0;
        }
        & > .contenttitle {
            display: block;
            height: 9%;
            font-size: 1.3em;
            line-height: 2;
            text-align: center;
        }
    }
}
