@import 'helpers';

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: @white;
	font-family: 'Pridi', 'Roboto', serif;
	font-weight: 300;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

#app a {
	text-decoration: none;
	color: @white;
}

// @import 'spinner';
// @import 'list';

@import '../../node_modules/material-design-lite/material.css';