@import '~style/helpers';

.menuItem {
    width: 100%;
    height: 100px;
    display: flex;
    margin: 2px 0;
    background-color: @white;
    color: @theme;
    font-family: 'Pridi', 'Roboto';
}

.mainDisplayContent {
    height: 40px;
    line-height: 40px;
    font-size: 1.35em;
    font-weight: bold;
    color: @color1;
    display: block;
    padding: 4px 8px;
}

.subDisplayContent {
    font-weight: bolder;
    color: @color2;
    padding: 4px 8px;
}